body
{
    margin: 0;
    font: 1.2em/1.3 'Roboto Condensed', sans-serif;
    font-size: 100%;
    font-weight: 300;
    background-color: transparent;
    background: url(images/pale.jpg) no-repeat fixed center center;
    background-size: cover;
}

#propic
{
    display: block;
    margin: auto auto;
    border-radius: 50%;
    padding-top: 2em;
}

/*-----GENERAL TEXT RULES-----*/
h1
{
    font: 3.3em/1 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    color: #303030;
    padding-top: .5em;
    text-shadow: whitesmoke 0px 0px 1em;
}

h2
{
    font: 2.4em/2 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #303030;
    text-shadow: whitesmoke 0px 0px 1em;
}

h3
{
    font: 1.8em/2 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #303030;
    text-shadow: whitesmoke 0px 0px 1em;
}

li, p
{
    font: 1.5em/2 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #303030;
    text-shadow: whitesmoke 0px 0px 1em;
}

img.underline 
{
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*-----PROFILE RULES-----*/
#profile
{
    background: transparent;
    background-color: rgba(35, 92, 159, 0.5);
}

/*-----SKILLS RULES-----*/
#skills
{
    background-color: rgba(46, 138, 138, 0.5); 
    overflow: hidden;
}

/*-----EDUCATION RULES-----*/
#education
{
    background-color: rgba(74, 209, 138, 0.5);  
}

/*-----AWARDS RULES-----*/
#awards
{
    background-color: rgba(176, 80, 138, 0.5); 
}

/*-----EXPERIENCE RULES-----*/
#experience
{
    background-color: rgba(176, 80, 31, 0.5); 
}

/*-----CONTACT RULES-----*/
#contact
{
    background-color: rgba(176, 213, 31, 0.5); 
}

/*-----NAV RULES-----*/
nav
{
    height: 3em;
    line-height: 2em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    display: inline-block;
    width: 100%;
    background: rgba(0,0,0,0,0.55);
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: translateZ(0);
}

/*-----NAV LIST RULES-----*/
ul#navlist
{
    clear: right;
    list-style: none;
    font-weight: 300;
}

nav.nav_closed
{
    overflow: hidden;
}

nav.nav_closed ul#navlist
{
    display: none;
}

nav.nav_open
{
    overflow: visible;
    background: rgba(0,0,0,0.85);
}

nav.nav_open ul#navlist
{
    display: block;
    background: rgba(0,0,0,0.85);
}

nav.nav_open a#menu
{
    color: #333;
    background: #999;
}

nav ul#navlist li a
{
    display: block;
    width: 100%;
    height: 100%;
    border-top: 1px #ccc solid;
    color: #fff;
    text-decoration: none;
}

nav ul#navlist li a:hover
{
    background: #009ee6;
    color: #fff;
    text-decoration: none;
}

/*-----MENU BOTTON RULES-----*/
a#menu
{
    float: right;
    border: 1px solid #ccc;
    color: #000;
    width: 4em;
    margin-top: 5px;
    margin-right: 15px;
    font-weight: 300;
    margin-bottom: 6px;
    text-decoration: none;
    text-shadow: #fff 0px 0px 5px;
}

a#menu:hover
{
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    font-weight: 600;
}

/*-----NO SCRIPT RULES-----*/
#mainnav li
{
    width: 100%;
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;
    border-top: 1px #ccc solid;
}

/*-----SECTION RULES-----*/
section.page-content
{
    padding-bottom: 20px;
    padding-top: 5px;
}

/*-----SECTION PAGE HEADER-----*/
section#page-header
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: #000034;
    display: table;
    text-shadow: lightblue 0px 0px 2em, lightblue 0px 0px 3em, lightyellow 0px 0px 4em, lightpink 0px 0px 3em;
}

section#page-header header
{
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

section#page-header h1
{
/*
text-shadow: -10px 10px 0px #00e6e6, -20px 20px 0px pink, -30px 30px 0px yellow;*/
/*text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);*/
    padding-bottom: 10px;
    color: black;
    font-size: 6em;
}

section#page-header h2
{
/*
text-shadow: -10px 10px 0px #00e6e6, -20px 20px 0px pink, -30px 30px 0px yellow;*/
/*text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);*/
    padding-bottom: 10px;
    color: black;
}

.language 
{
    float: left;
    width: 46%;
    background: transparent;
    background-color: rgba(136, 136, 136, 0.3);
    margin: 0px 2% 0px 2%;
    align-content: center;
}

.languages
{
    overflow: hidden;
    clear: both;
}

.language img {
    width: 18%;
}

iframe
{
    margin-left: 5%;
}

p
{
    margin: 0% 10% 0% 10%;
}

#map
{
    float: left;
    width: 50%;
    overflow: hidden;
    clear: both;
}

#form
{
    float: right;
    width: 50%;
    overflow: hidden;
    clear: both;
}

/*-----CONTACT RULES-----*/
section#contact
{
    text-align: center;
    border-bottom: 4em #232323 solid;
}

section#contact ul li a img
{
    display: block;
    width: 60%;
    max-width: 80px;
    margin: auto;
}

#icon img
{
    width: 10%;
    height: 10%;
    padding-top: 10px;
}

#leftPic
{
    float: left;
    width: 100%; 
    margin: 0px 2% 0px 2%;
    align-content: center;
    padding-left: 30%;
}

.page-content h1
{
    margin-top: 13px;
}

.page-content h2
{
    margin-top: 8px;
    margin-bottom: 5.5px;
}

.page-content h3
{
    margin-top: 6px;
}

.page-content p
{
    margin-top: 5.5px;
    margin-bottom: 6.75px;
}

.link a{
    text-decoration: none;
}

.link h2:hover{
    color: red;
}
